<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if dakit_config['site']['theme']['css_from_cdn'] %}
    {{ dakit_config['site']['theme']['css_cdn_tag'] }}
    {% else %}
    <link href="{{ dakit_config['site']['document_root'] }}{{ dakit_config['site']['theme']['css_loc'] }}"
        rel="stylesheet">
    {% endif %}
    <title>{{ page_config['page_title'] }}</title>
    {% if dakit_config['site']['theme']['page_custom_css'] != "" %}
    {{ dakit_config['site']['theme']['page_custom_css'] }}
    {% endif %}
    {% if dakit_config['site']['noindex'] %}
    <meta name="robots" content="noindex nofollow noarchive">
    {% endif %}
</head>

<body id="dakit">
    <nav class="navbar fixed-top navbar-expand-sm {{ dakit_config['site']['navbar']['color'] }}">
        <div class="container">
            {% if dakit_config['site']['logo']['enabled'] %}
            <a class="navbar-brand"
                href="{{ dakit_config['site']['document_root'] }}{{ dakit_config['site']['index_loc'] }}"><img
                    src="{{ dakit_config['site']['logo']['loc'] }}"
                    height="{{ dakit_config['site']['logo']['height'] }}"
                    style="{{ dakit_config['site']['logo']['custom_style'] }}"></a>
            {% else %}
            <a class="navbar-brand"
                href="{{ dakit_config['site']['document_root'] }}{{ dakit_config['site']['index_loc'] }}">{{
                dakit_config['site']['title'] }}</a>
            {% endif %}
            {% if dakit_config['site']['navbar']['expand'] %}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#dakit-navbar"
                aria-controls="dakit-navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% endif %}
        </div>
    </nav>

    <div class="container">
        <div class="mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="fw-bold">{{ page_config['item_title'] }}</h1>
            </div>
        </div>

        {% if page_config['image_type'] == "iiif" %}
        <div id="mirador" style="height: 900px; position: relative; width: 100%; margin-top: 1rem; margin-bottom: 2rem">
        </div>
        {% elif dakit_page_image_type == "single" %}
        <img src="{{ page_config['image_single_loc'] }}">
        {% endif %}

        <table class="table table-striped table-hover">
            {% for field in keys %}
            <tr>
                <th>{{ field }}</th>
                {% if dic[field].startswith("http") %}
                <td><a href="{{ dic[field] }}">{{ dic[field] }}</a></td>
                {% else %}
                <td>{{ dic[field] }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>

    </div>

    {% if dakit_config['site']['theme']['js_from_cdn'] %}
    {{ dakit_config['site']['theme']['js_cdn_tag'] }}
    {% else %}
    <script href="{{ dakit_config['site']['theme']['js_loc'] }}"></script>
    {% endif %}

    {% if page_config['image_type'] == "iiif" %}

    {% if dakit_config['site']['iiif']['mirador_from_cdn'] %}
    {{ dakit_config['site']['iiif']['mirador_cdn_tag'] }}
    {% else %}
    <script href="{{ dakit_config['site']['iiif']['mirador_loc'] }}"></script>
    {% endif %}

    <script type="text/javascript">
        var mirador = Mirador.viewer({
            "id": "mirador",
            "manifests": {
                "{{ page_config['iiif_manifest_loc'] }}": {
                    "provider": "{{ page_config['iiif_manifest_provider']  }}"
                }
            },
            "language": "ja",
            "window": {
                "allowWindowSidebar": false,
                "allowMaximize": false,
                "allowFullscreen": true,
                "allowTopMenuButton": false,
                "allowClose": false
            },
            "windows": [{
                "loadedManifest": "{{ page_config['iiif_manifest_loc'] }}",
                "canvasIndex": 0,
                "thumbnailNavigationPosition": 'far-bottom'
            }],
            "workspaceControlPanel": {
                "enabled": false
            }
        });
    </script>

    {% endif %}

</body>

</html>